

/*modifica stile header*/



#logo-bg{
    background-image: url('../img/logo.svg');
    width: 300px;
    height: 300px;
    background-repeat: no-repeat;
    display: inline;
    
}

#pattern-bg{
    background-image: url('../img/pattern.png');
    background-color: rgb(78,160,255);
    width: 2600px;
    height: 200px;
    

}

/*modifica stile main*/
h1{
    font-size: 100px;
}

h2{
    font-size: 40px;
    color: grey;
}

#titolo{
    color:rgb(32, 169, 229);
   }

#data{
    font-size: 30px;
}

#immagini-tim{
   
}


.paragrafo1{
    font-size: 20px;
}

ul{
    font-size: 20px;
}

table{
    font-size: 20px;
}

.evidenziato{
    background-color: yellow;
}

