

/*modifica stile header*/



#logo-bg{
    background-image: url('../img/logo.svg');
    width: 300px;
    height: 300px;
    background-repeat: no-repeat;
    display: inline;
    
}

#pattern-bg{
    background-image: url('../img/pattern.png');
    background-color: rgb(78,160,255);
    width: 2600px;
    height: 200px;
    

}

/*modifica stile main*/
h1{
    font-size: 100px;
}

h2{
    font-size: 40px;
}

.colore-grigio{
    color: grey;
}

#titolo{
    color:rgb(32, 169, 229);
   }

#data{
    font-size: 30px;
}


.paragrafo1{
    font-size: 20px;
}

ul{
    font-size: 20px;
}
/*modifica tabella*/
table{
    font-size: 20px;
}
thead{
    background-color:rgb(78,160,255);
    color: rgb(255,255,255);
    border: 0px;
}

.riga-colorata{
    background-color: rgb(143, 208, 235);
}

.evidenziato{
    background-color: yellow;
}

h3{
    font-size: 20px;
}

.frase-bianca{
    font-size: 20px;
    color: rgb(255,255,255));
}

#immaginepc{
    background-image: url('../img/monitor.jpg');
    background-repeat: no-repeat;
    display: block;
    padding-bottom: 1em;
    


}